.grid-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--gap)*8);
}

.form-contact{
    gap: var(--gap);
}

.form-contact input,textarea{
    background-color: var(--darkGray);
    border-style: none;
    height: 4rem;
    color: var(--gray);
    font-size: 1.6rem;
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
    padding-bottom: calc(var(--gap)*0.7);
    padding-left: calc(var(--gap)*0.7);
}




.form-contact textarea{
    resize: none;
    height: 11rem;
}

.form-contact input:focus,textarea:focus{
    border-style: none;
    border-bottom: 1px solid var(--green);
    outline: none;
}

.form-text h2,p{
    margin-bottom:  calc(var(--gap)*1.5) !important ;
}



@media screen and (max-width: 1050px){
    .grid-contact{
        padding: var(--gap);
        column-gap: calc(var(--gap)*4);
    }
}


@media screen and (max-width: 800px){
    .grid-contact{
        grid-template-columns: 1fr;
    }
    .form-text{
        text-align: center;
    }
}