.img-project{
    height: 40rem;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.project-1{
    background-image: url('../assets/img/Bitmap.jpg');
}
.project-2{
    background-image: url('../assets/img/Bitmap2.png');
}
.project-3{
    background-image: url('../assets/img/Bitmap3.png');
}
.project-4{
    background-image: url('../assets/img/Bitmap4.png');
}
.project-5{
    background-image: url('../assets/img/Bitmap5.png');
}
.project-6{
    background-image: url('../assets/img/Bitmap6.png');
}

.overlay{
    height: 40rem;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay a {
    display:none;
}

.overlay:hover{
    background-color: hsla(0, 0%, 0%, 0.6);
    background-blend-mode: multiply;
}

.overlay:hover a {
    display:block;
    background-color: none;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.project p {
    color: var(--gray);
}

.grid-projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap);
    row-gap: calc(var(--gap)*2);
}
.btn-hide{
    display: none;
}

@media screen and (max-width: 1050px){
    .gallery {
        padding: var(--gap);
    }
}
@media screen and (max-width: 950px){
    .gallery {
        padding: var(--gap);
    }
    .img-project{
        height: 25rem;
    }
    .overlay{
        height: 25rem;
    }
    .overlay:hover{
        visibility: hidden;
    }
    .btn-hide{
        display: block;
    }
    
}
@media screen and (max-width: 1050px){
    .gallery {
        padding: var(--gap);
    }
}
@media screen and (max-width: 800px){
    .grid-projects{
        grid-template-columns: 1fr;
        column-gap: var(--gap);
        row-gap: calc(var(--gap)*2);
    }
}