html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --white:    white;
  --green:    #4EE1A0;
  --black:    #151515;
  --gray:     #D9D9D9;
  --darkGray: #242424;
  --red:      #FF6F5B;
  --gap: 3rem;
}

body {
  background-color: var(--black);
  margin: 0px;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--white);
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

h1, h2, h3, h4, h5 ,h6, p{
  margin: 0;
}
.mt-s{
  margin-top: calc(var(--gap)*0.5);
}
.mt-1{
  margin-top: var(--gap);
}
.mt-2{
  margin-top: calc(var(--gap)*1.5);
}
.mt-3{
  margin-top: calc(var(--gap)*3);
}
.mb-2{
  margin-bottom: calc(var(--gap)*2);
}
.mb-3{
  margin-bottom: calc(var(--gap)*3);
}
.mt-4{
  margin-top: calc(var(--gap)*4);
}

.ml-1{
  margin-left: var(--gap);
}

.pt-1{
  padding-top: var(--gap);
}
.pb-3{
  padding-bottom: calc(var(--gap)*3);
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}



.container{
  max-width: 111rem;
  width: 100%;
}

.h-xl{
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-weight: 700;
}

.h-m{
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}
.w-100{width: 100%;}

.flex{display: flex;}

.flex-justify-center{justify-content: center;}

.flex-end {justify-content: flex-end;}
.flex-start {justify-content: flex-start;}

.flex-between {justify-content: space-between;}

.flex-column{flex-direction: column;}

.align-center{align-items: center;}

.aling-end{align-items: flex-end;}

.dark-gray{
  background-color: var(--darkGray);
}



.btn-principal{

  color: var(--white);
  padding: 0rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  text-transform: uppercase;
  padding-bottom: 1rem !important;
  padding-left: 0rem !important;
  border-bottom: 4px solid var(--green) !important; 
}

.btn-principal:hover{
  color: var(--green);
  cursor: pointer;
}

@media screen and (min-width: 1050px) {
  .container{
    width: 90%;
  }
  
  .h-xl{
    font-size: 8.15rem;
    line-height: 8.15rem;
  }
}
@media screen and (max-width: 750px) {
  .h-xl{
    font-size: 4rem;
    line-height: 4rem;
  }
  .container{
    width: 95%;
  }

  .mt-4{
    margin-top: var(--gap);
  } 
  .mb-3{
    margin-bottom: calc(var(--gap)*2);
  } 
}

